name: Build

on:
  push:
    branches:
      - main
      - secondary-interface-handle
  pull_request:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/build
      - uses: ./.github/actions/test
        with:
            push-containers: ${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}
