name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.24" # The Go version to download (if necessary) and use.

      - name: Run unit tests
        run: go test -v

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux go build

      - name: Start minikube
        uses: medyagh/setup-minikube@latest

      - name: Build containers
        run: eval $(minikube docker-env) && ./build_containers.sh

      - name: Deploy to minikube
        run: kubectl apply -f example_usage.yml && kubectl rollout status statefulsets.apps example-aeron-k8s-bootstrap --timeout=90s

      - name: Test bootstrapping
        run: ./check_bootstrap_success.sh
