name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/build-and-test
        with:
            push-containers: ${{ github.ref == 'refs/heads/main' && 'true' || 'false' }}