name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/build-and-test
